.topo{
 background-color: #0b1220;;
}
 .div-titulo {
  color: #C9A154;
  display: flex;          
  align-items: center;    
  gap: 10px;
 }
.barber-prime {
  font-size: 1.5em;
  font-weight: bold;
}
